h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
    background-color: darkgoldenrod;
}

newStyle1 {
    font-weight: 500;
    font-size: 2.5em;
    background-color: blue;
}

newStyle2 {
    font-family: comic-sans;
    color: orange;
}

p {
    font-family: sans-serif;
}