<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    <script type="text/javascript" th:src="@{/js/hello.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>

</head>
<body>
<div align="center">
    <h2>Styled Heading</h2>
    <p>
        This is text on which we want to apply <strong>very special</strong> styling.
    </p>
        <newStyle1>This is some text with newStyle1</newStyle1>
        <newStyle2>This is some text with newStyle2</newStyle2>
    </p>
    <button type="button" th:onclick="greeting()">Click Me!!</button>
    <button type="button" th:onclick="goToGoogle()">Google Something</button>
    </p>
    <button type="button" th:onclick="print()">Print This Page</button>
    <button type="button" th:onclick="getURL()">getURL</button>
</div>
</body>
</html>